/* FULL LAYOUT SPECIFIC STYLES */
/* ----------------------------------------- */

/* GENERAL LAYOUT AND MARGINS */
/* ----------------------------------------- */

#boxed .margin{
	width:920px;
	background:white;
	padding:0px 30px;
}

#boxed .full-width{
	width:920px;
}

#boxed #header-wrapper{
	background:none;
}

#boxed #header{
	background:none;
	padding:0;
}

#header #top-navigation{
	right:30px;
}

#boxed #header .margin{
	padding:70px 30px 10px 30px;
	border-bottom:none;
}

#boxed #top-header .margin{
	width:920px;
	padding:0;
	background: none;
}

#boxed #leader{
	padding:0px;
}

#boxed div.product-image{
	top:-31px;
}

#boxed #leader .margin{
	padding: 0px 30px 10px;
}

#boxed #footer div.margin{
	border-top:0px;
}

#boxed #footer-bottom{
	border-bottom:none;
	
}

#boxed #store-panel .margin{
	padding: 0px 30px 30px;
}

#boxed #brief .margin{
	padding-bottom: 15px;
	padding-top:15px;
	margin-top:-10px;
}

#boxed #copyright{
	padding:0;
}

#boxed #copyright .margin{
	width:920px;
	background: none;
	padding:30px 30px;
}


#boxed #features{
	height:342px;
}

#boxed #main-content{
	padding:0;
}

#boxed #main-content .margin{
	clear:both;
	overflow: hidden;
	padding-bottom:30px;
}

#boxed div#products_page_container{
	margin:0;
	padding-bottom:30px;
}

#boxed #main-content .margin #main-col{
	width:665px;
}

#boxed #main-content .margin #sidebar{
	width:254px;
}

/* FEATURED SLIDER */
/* ----------------------------------------- */

#boxed #featured-slider{
	background: none;
	padding:10px;
	background: #f4f4f4;
	border:1px solid #ddd;
	overflow: hidden;
	width:898px
}

#boxed .bx-wrapper{
	width:896px !important;
}

#boxed .bx-wrapper .bx-window{
	height:342px !important;
	width:896px !important;
}

#boxed #slider-controls{
	margin-top:10px;
}

#boxed #featured-slider ul{
	width:894px;
	height:342px;
}

#boxed li.feature div.feature-post-wrapper{
	bottom:0px;
}

#boxed #featured-slider ul li{
	height:342px;
	width:896px;
}

#boxed #featured-slider ul li.feature img, #boxed #featured-slider ul li.promotion img{
	width:896px;
}

#boxed #featured-slider img{
	
}

#boxed #feature-wrapper{
	width:896px;
	border:1px solid #ddd;
	overflow: hidden;
}

#boxed ul.feature-list li{
}

/* RANDOM STYLES */
/* ----------------------------------------- */


body#boxed p, body#boxed h1, body#boxed h2, body#boxed h3, body#boxed h4, body#boxed a{
	text-shadow:none !important;
}

#boxed a{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}


#boxed ul.front-category-list li div.padding{
	height:172px;
}


#boxed #leader h1{
	padding:15px 0px;
	border-bottom:1px dotted #ddd;
	border-top:1px dotted #ddd;
}

#boxed #footer-top h3.widget-title, #boxed div.best-sellers h2, #boxed div.front-categories h2, #boxed div.latest-products h2{
	margin-left:0px;
	font-size:15px;
}

#boxed #main-col img.attachment-blog{
	width:655px;
}

#boxed #user-nav ul{
	right:260px;
}

/* PRODUCTS */
/* ----------------------------------------- */

#boxed div.product-meta{
	height:172px;
}

#boxed div#main-col div.product-meta{
	height:124px;
}

#boxed div.single-producttext{
	width:340px;
}

#boxed ul.product-list li div.product-meta input.wpsc_buy_button{
	left:43px;
	top:65px;
}

#boxed #main-col ul.product-list li div.product-meta input.wpsc_buy_button{
	left:20px;
	top:33px;
}

#boxed #checkout #shopping-cart, #boxed #checkout #shopping-cart-form{
	width:920px;
}

#checkout #checkout-slider-mask{
	width:920px;
}

#boxed #checkout{
	padding:0;
}

#boxed #checkout .margin{
	padding: 0px 30px 50px;
}

#boxed div.wpsc_product_search{
	top:-50px;
}