div.front-block
{	@include	border;

	background:	#ffffff;
		background-size:	cover;
		background-position:	0%
					20%;
	height:		200px;
	margin:		3 * $nMargin-Height
			auto;
	width:		100%
			- (	2 * $nMargin-Width	);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{	border:		none;
		font-size:	200%;
		margin:		0px;
		padding:	0px;
		text-align:	center;
}	}
