@import	'page-header.scss';
@import	'page-front.scss';
@import	'sidebar.scss';
@import	'page-footer.scss';

#mainwrapper
{	float:		left;
	padding:	0px;

	#leftcontent
	{	display:	inline-block;
		text-align:	justify;
		width:		100%
				- (	2 * 19%	);
	
		h2	a
		{	color:		#ffffff;
			display:	inline-block;
		}

		iframe,
		.project
		{	border:		2px	#ffffff	groove;
			overflow:	hidden;
			width:		100%;
		}
		
		iframe
		{	height:		500px;
		}

		#secondsidebar
		{	position:	relative;
				right:	1%;
			width:		46%;
		}
		
		.catheader,
		h1
		{	background:	$colSecondary;
			color:		#ffffff;
		}

		.post	li
		{	@include	border;
				
			background:	#ffffff;
			color:		$colPrimary;
			list-style:	none;
		}

		.posts
		{	@include	border;

			background:	#ffffff;
			color:		$colPrimary;
			display:	inline-block;
			margin:		0px;
			width:		50%;
		
			h2
			{	background-color:	$colSecondary;
			}
			
			p
			{	margin:	0px
					0px
					10px
					0px;
			}

			.post-excerpt
			{	width:	100%;
		}	}

		.page-division
		{	@include	margin;

			display:	inline-block;
			width:		49%
					- (	2 * $nMargin-Width	);

			p
			{	height:	160px;
			}

			ul
			{	width:		100%;
				
				li
				{	padding:	$nPadding-Height
							0px;
					
					span
					{	display:	inline-block;
						text-align:	right;
						width:		32%;
					}

					.type
					{	text-align:	left;
		}	}	}	}
		
		.post-excerpt
		{	float:		left;
			text-align:	justify;
			width:		49%;
			
			h1,
			h2,
			h3,
			h4,
			h5,
			h6
			{	background:	$colSecondary;
				margin-top:	10px;
		}	}

		#threecol,
		#threecol2
		{	background:	none;
			float:		none;

			.threepost
			{	height:		150px;
				overflow:	hidden;
				padding:	0px
						$nPadding-Width;
				width:		50%
						- (	2 * $nPadding-Width	);

				h2
				{	font-size:	140%;
					text-align:	center;
			}	}

			.threepost2,
			.threepost5
			{	margin:	0px;
}	}	}	}
		
	.home #leftcontent img {
		max-width: 100%;
		}
