#mainwrapper	#leftcontent	.page-front
{	.posts
	{	height:	17 * $nGrid-Height;
		width:	100%
			- (	2 * $nPadding-Width	);
}	}

.front-block
{	@include	border;

	background:	#ffffff;
		background-size:	cover;
		background-position:	0%
					20%;
	height:		10 * $nGrid-Height;
	margin:		0px
			auto;
	width:		100%
			- (	2 * $nMargin-Width	);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{	border:		none;
		font-size:	200%;
		margin:		0px;
		padding:	0px;
		text-align:	center;
}	}
