div.front-block
{	@include	border;

	float:		left;
	height:		200px;
	padding:	0px;
	width:		50%
			- (	2 * $nMargin-Sides	);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	{	border:		none;
		font-size:	200%;
		margin:		0px;
		padding:	0px;
		text-align:	center;
}	}
