#mainwrapper	#sidebar,
#mainwrapper	#secondsidebar
{	padding:	0px;
	width:		19%;
	
	ul	li
	{	margin:		5px
				0px
				0px
				0px;
		text-align:	right;
	
		.type
		{	float:	left;
			width:	83px;
	}	}

	.front-block
	{	width:	100%;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6
		{	border:	none;
	}	}

	.side-widget
	{	@include	border;

		background:	#ffffff;
		border-width:	0px;
		padding:	0px;
		width:		100%;

		.children
		{	.children
			{	display:	none;
			}

			.page_item
			{	border-bottom:	dotted
						1px
						$colPrimary;
		}	}

		#sform
		{	padding:	0px;
			width:		100%;
		}	

		#wp-calendar
		{	width:	100%;

			td
			{	text-align:	left;
}	}	}	}

#mainwrapper	#sidebar
{	float:	left;
}

#mainwrapper	#secondsidebar
{	float:	right;

	.side-widget	ul	li
	{	border-bottom:	dotted
				1px
				$colPrimary;
}	}
