#mainwrapper	#sidebar,
#mainwrapper	#secondsidebar
{	padding:	0px;
	width:		19%;
	
	ul	li
	{	margin:		5px
				0px
				0px
				0px;
		text-align:	right;
	
		.type
		{	float:	left;
			width:	83px;
	}	}

	.front-block
	{	width:	100%;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6
		{	border:	none;
	}	}

	.side-widget
	{	@include	border;

		background:	$colSecondary;
		padding:	0px;
		width:		100%;

		#sform
		{	padding:	0px;
			width:		100%;
}	}	}

#mainwrapper	#sidebar
{	float:	left;
}

#mainwrapper	#secondsidebar
{	float:	right;
}
