#secondsidebar
{	@include	padding;

	float:	right;
	width:	34%;
	
	div.front-block
	{	width:	100%;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6
		{	border:	none;
	}	}
	
	ul
	{	li
		{	margin:		5px
					0px
					0px
					0px;
			text-align:	right;
	
			span.type
			{	float:	left;
				width:	83px;
}	}	}	}


#mainwrapper	#sidebar
{	display:	none;
}
