div.wpcf7
{	@include	margin;
	@include	padding;

	border:		3px
			groove
			$colTertiary;
	float:		left;
	text-align:	left;
	width:		50%
			- (	2 * $nMargin-Sides	);

	ul
	{	li
		{	padding:	$nPadding-Vertical
					0px
					$nPadding-Vertical
					0px;

			input
			{	vertical-align:	top;
			}

			label
			{	display:	block;
			}

			span.type
			{	display:	inline-block;
				margin-bottom:	5px;
				width:		175px;
			}
			
			span.wpcf7-form-control-wrap
			{	width:	100%;
			}

			span.wpcf7-list-item-label
			{	display:	inline-block;
			}

			input.wpcf7-submit
			{	text-align:	center;
				width:		175px;
			}

			input.wpcf7-text,
			textarea
			{	width:	100%;
}	}	}	}
