/*
#footer
{	background: #01b0a6;
	clear:		both;
	margin: 		0px auto;
	padding: 	20px 0px;
	color: 		#ffffff;
	width:		100%;
}
*/

#copyright
{	center
{	background-color:	#ffffff;
	border-radius:		10px;
	padding:				20px;
}

	table
{	color:	#000000;
}
}

img.affiliation
{	border-radius:		20px;
	height:				100px;
	margin:				auto	auto	auto	auto;
	max-width:			20%;
}

a.footer,
a.header
{	color: 			#ffffff;
	font-weight:	bold;
}

td.name,
td.contact
{	width:	15%;
		min-width:	140px;
}

span.schedule
{	float:	right;
}