#header	table
{	color:	#000000;
	margin:	auto auto 50px auto;
	width:	auto;
	
	table td,
	table	li
	{	color:	#000000;
	}
}
	
#top-navigation
{	background-color:	#000000;
	border-radius:		10px	10px	10px	10px;
	padding:				10px	30px	10px	0px;
	width:				890px;
	
	ul
	{	float:	right;
		margin:	auto 30px auto auto;
		
		li	a
		{	color:	#ffffff;
		}
	}
}