/*
Master styles for screen media
Author:	justine@gentlecode.net
*/


/* PAGE STRUCTURE
------------------------------------------------------------- */



/* ELEMENTS
------------------------------------------------------------- */



/* HEADER
------------------------------------------------------------- */



/* SLIDER
------------------------------------------------------------- */



/* NAVIGATION
------------------------------------------------------------- */



/* MAIN CONTENT 
------------------------------------------------------------- */



/* SIDEBAR
------------------------------------------------------------- */



/* FOOTER
------------------------------------------------------------- */



/* MISC.
------------------------------------------------------------- */

.hide {
	display: none;
}

.clear {
	clear: both;
}

/* self-clear floats */

.group:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	overflow: hidden;
}